.outerSliderContainer {
    position: absolute;
    margin-left: 56px;
    margin-top: 465px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .sliderContainer {
    width: 320px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 21px;
    position: relative;
  }
  
  .slider {
    border: none;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    position: absolute;
    padding: 0%;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 27px;
    height: 27px;
    background-color: #0BAA81;
    border-radius: 50%; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.60));
    cursor: pointer;
    margin-top: -5px; 
  }

  .sliderValue {
    color: var(--white);
    text-align: center;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  

  