.completeContainer {
    z-index: 4;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 75px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 7%;
}

.headerContainer{
    width: 348px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.complete{
    color: var(--white);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
}

.completePara{
    width: 348px;
    color: var(--white);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.yourFootprint{
    width: 326px;
    color: var(--white);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scoreElement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.scoreText{
    color: var(--white);
    text-align: left;
    font-family: Poppins;
    font-size: 66.514px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 377px;
    left: 53px;
    padding: 0%;
    
}

.metric{
    width: 196px;
    height: 72px;
    color: var(--white);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 23px;
}

.category {
    margin-top: 20px;
    color: var(--white);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categoryText {
    font-size: 30px;
    color: var(--white);
    font-weight: 700;
}

.categoryMessage {
    color: var(--white);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homeButton {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:770px;
    width:100%
}

.backgroundBlur {
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 430px;
    height: 932px;
    background-color: rgba(0, 0, 0, 0.257);
    backdrop-filter: blur(8px);
}


