.coolAPIAreaAdjust{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 450px;
    width: 100%;
}

.coolAPIArea{
    display:flex;
    align-items: flex-end;
    flex-direction: column;
    right:0;
    margin-right: -80px;
}

.timeZone, .userTime{
    font-family: var(--poppins);
    color: var(--white);
}

.homePageCatchCenter{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 700px;
    width: 100%;
}

.homePagePhrase{
    position:absolute;
    font-family: var(--poppins);
    color: var(--white);
    margin-left: -160px;
}
