
.coolAPIArea{
    display:flex;
    align-items: flex-end;
    flex-direction: column;
    position:absolute;
    right: 625px;
    margin-top: 250px;
    margin-right: 40px;
}

.timeZone, .userTime{
    font-family: var(--poppins);
    color: var(--white);
}

.homePagePhrase{
    position:absolute;
    font-family: var(--poppins);
    color: var(--white);
    margin-top: 540px;
    margin-left: 40px;
    left: 625px;
}