.exploreTopZIndex{
}

.exploreCoverImageCenterer{
    width:100%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:-1;
}

.exploreStartButton{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:770px;
    width:100%;
}