.earthPosition{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 932px;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -100;
    pointer-events: auto;
}

.loadingMessageBackground{
    position:absolute;
    backdrop-filter: blur(2px) brightness(0.8);
    z-index:10000;
}

.loadingMessage{
    font-family: var(--poppins);
    margin-top: 467px;
    color: var(--white);
}
