.radioContainer {
    z-index: 4;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top:0;
    left:0;
    margin-left: 730px;
    margin-top: 377px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
}

.rowContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    padding: 0%;
    margin: 0%;
}

.optionContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    padding: 0%;
    margin: 0%;
    width: 253px;
}

.optionText{
    color: var(--white);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
