.mainContainer {
    width: 100%;
    height: 932px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index:1000
}

.blur {
    width: 430px;
    height: 932px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settingsContainer {
    width: 316px;
    height: 460px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--white, #F2F5EA);
}

.settingsHeader {
    width: 90px;
    height: 27px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 13px;
    padding: 0%;
}

.backArrow {
    min-width: 6px;
    height: 12px;
    flex-shrink: 0;
    cursor: pointer;
}

.settingsText {
    color: var(--black, #0C0C0C);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;

}

