.volumeContainer {
    width: 262.174px;
    height: 65.543px;
    flex-shrink: 0;
    position: absolute;
    top: 289.46px;
    left: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--black);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slider {
    -webkit-appearance: none;
    border: 2px solid var(--grey);
    border-radius: 10px;
    height: 10px;
    background: transparent;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    background: var(--green);
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.40));
}