.graphWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    position:absolute;
    z-index: 1;
    margin-top:450px;
    height:250px;
}

.graphWrapCenterer{
    width:430px;
    display: flex;
    justify-content: center;
    position:relative;
}

.graphWrapWidth{
    width:90%;
}