.graphWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    position:absolute;
    z-index: 2;
    margin-top:350px;
    height:250px;
}

.graphWrapCenterer{
    width:430px;
    display: flex;
    justify-content: center;
}

.graphWrapWidth{
    width:90%;
    background-color: var(--black);
}