.mainContainer {
    margin: 0 auto;
    padding: 0%;
    z-index: -3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y:hidden;
}

.aboutContainer {
    margin: 0 auto;
    padding: 0;
    width: 430px;
    height: 932px;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-shrink: 0;
    z-index: 5;  
}

.aboutContainer::-webkit-scrollbar{
    display: none;
}

.sebMainImage {
    margin-bottom: 0%;
}

.sebTextContainer{
    width: 380.5px;
    height: 480px;
    top: -325px;
    position: relative;
    margin-left: 25px; 
    z-index: 2;
}

.sebName {
    width: 155px;
    height: 74px;
    flex-shrink: 0;
    color: var(--white);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    top: 25px;
    left: 25px;
}

.sebFavourites {
    position: absolute;
    top: 229px;
    left: 68px;
    width: 263px;
    height: 207px;
    flex-shrink: 0;
    color: var(--white);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sebFavourites .favourite{
    color: var(--white);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sebShape {
    backdrop-filter: blur(2.5px);
}

.sebCircleContainer {
    display: flex;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 3;
    position: absolute;
    top: 460px;
    margin-left: 245px;
}

.sebPillContainer {
    display: flex;
    width: 180px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 240px;
    margin-left: 205px;
}

.separator {
    width: 430px;
    height: 626px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.45) 0%, rgba(12, 12, 12, 0.99) 18%, #0C0C0C 75.5%, rgba(12, 12, 12, 0.00) 100%);
    position: absolute;
    top: 653px;
    z-index: 1;
}
.andersMain {
    position: absolute;
    top: 1120px;
    z-index: 0;
}

.andersCircle {
    position: absolute;
    z-index: 1;
    top: 1725px;
    margin-left: 50px;
}

.andersTextContainer {
    width: 280px;
    height: 460px;
    flex-shrink: 0;
    position: absolute;
    top: 1440px;
    margin-left: 125px;
    z-index: 4;
}

.andersName {
    width: 155px;
    height: 74px;
    flex-shrink: 0;
    color: var(--white);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 20px;
    margin-left: 85px;
}

.andersFavourites {
    width: 330px;
    height: 241px;
    flex-shrink: 0;
    color: var(--white);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 104px;
    right: 20px;
    text-align: right;
}

.favourite2{
    color: var(--white);
    text-align: right;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
