:root{
    --black: #0C0C0C;
    --jetBlack:#343434;
    --green: #0BAA81;
    --white: #F2F5EA;
    --grey: #C9CAD9;
  
  
    --raleway: 'Raleway', sans-serif;
    --poppins: 'Poppins', sans-serif;
  
    --title: 96px;
    --button:16px;
    --settings-p-font-family: "Poppins";
    --settings-p-font-size: 14px;
    --settings-p-font-style: normal;
    --settings-p-font-weight: 400;
    --settings-p-letter-spacing: 0px;
    --settings-p-line-height: normal;
    --settings-sec-head-font-family: "Poppins";
    --settings-sec-head-font-size: 16px;
    --settings-sec-head-font-style: normal;
    --settings-sec-head-font-weight: 400;
    --settings-sec-head-letter-spacing: 0px;
    --settings-sec-head-line-height: normal;
  }
  
  html,
  body,
  #__next {
      width: 100%;
      margin:0;
      background-color: var(--black);
  }

  h1, h2, h3, h4, h5, p{
      font-weight:unset;
      margin:0;
  }
  
  h1{
      font-size: 48px;
  }
  
  h2{
      font-size: 40px;
  }
  
  h3{
      font-size: 32px;
  }
  
  h4{
      font-size: 28px;
  }
  
  h5{
      font-size: 24px;
  }
  
  p{
      font-size: 20px;
  }

  
  